{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Jaula Para Conejo</span>
                    <span class="card-notify-year"><strong>-25%</strong></span>
                    <img src="/static/img/bandanas/b1.jpeg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.jpeg" alt="conejo" height="30px"></span>
                    <span class="card-detail-badge">  $25.999  </span>
                    <span class="card-detail-badge1"> <del>$35.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Jaula para Conejo De tamaño medio</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Bandana</span>
                    <span class="card-notify-year"><strong>-15%</strong></span>

                    <img src="/static/img/proveedores/gato.png" width="100%" height="100%" alt="alternate text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/icon4.png" alt="" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
        
                        <h5>Accesorio para Tu felino</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Mochila portable</span>
                    <span class="card-notify-year"><strong>-30%</strong></span>

                    <img src="/static/img/mochila.png" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/icon4.png" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>¡Mochila para trasladar a tu felino para el lugar que sea!</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>

    <!--* fin ofertas-->

    <link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Jaula para erizo</span>
                    <span class="card-notify-year"><strong>-30%</strong></span>
                    <img src="/static/img/e2.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/icon5.png" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  56.990$  </span>
                    <span class="card-detail-badge1"> <del>$80.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Jaula Para erizo De alta seguridad</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">bebedero de agua erizo</span>
                    <span class="card-notify-year"><strong>-10%</strong></span>

                    <img src="/static/img/e3.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/icon5.png" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>Bebedero Para Erizo</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">Arnes de conejo</span>
                    <span class="card-notify-year"><strong>-5%</strong></span>

                    <img src="/static/img/e4.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge"><img src="/static/img/perro.jpeg" alt="gatito" height="30px"></span>
                    <span class="card-detail-badge">  $20.000  </span>
                    <span class="card-detail-badge1"> <del>$25.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>¡Arnes Para tu conejo!</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>
    
{% endblock main %}
