{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/proveedores.css">
    <div class="row">
        <h1></h1>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Mazuri</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Alimentos para Conejo con dieta balanceada</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/c1.png" alt="purina" height="100%">
                </div>
                <div class="pt-3">
                    
                    
                   
                    <p>Precio unitario: <strong> $9.790</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #C70039; color: white;" >Mas información</a>
                </div>
            </div>
        </div>



        
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Champion mini Pets</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Champion Mini Pets ofrece un alimento nutricional </p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/proveedores/c2.png" alt="Hill's" height="100%">
                </div>
                <div class="pt-3">
                 
                  
                   
                    <p>Precio unitario: <strong> $1000</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #C70039; color: white;" >Más informacion</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Spike's "dinner"</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Comida para Erizos o mamiferos de pequeño tamaño</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/e1.png"alt="nupec" height="100%">
                </div>
                <div class="pt-3">
                  
                    
                   
                    <p>Precio unitario: <strong> $10.000</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #C70039; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Pet Food</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">descripcion</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="/static/img/peet.jpg" alt="" height="100%">
                </div>
                <div class="pt-3">
                    
                 
                   
                    <p>Precio unitario: <strong> $1000</strong></p>
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #C70039; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        

 
{% endblock main %}
